/* Общие стили */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: url("/static/main/img/звезды.jpg");
}

a {
    text-decoration: none;
    color: #000; /* Чёрный цвет ссылок */
}

a:hover {
    text-decoration: underline;
}

/* Шапка */
.header {
    background-color: #ffffff; /* Чёрный фон */
    padding: 15px 0;
}

.containermenu {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo a {
    font-size: 24px;
    font-weight: bold;
    color: #000000; /* Жёлтый текст */
}

.header_menu .menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.header_menu .menu li a {
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 5px;
    color: #ffffff; /* Жёлтый текст */
}

.header_menu .menu li a.work {
    background-color: #f1c40f; /* Жёлтый фон */
    color: rgba(255, 253, 253, 0.8); /* Чёрный текст */
}

.header_menu .menu li a.work:hover {
    background-color: #d4ac0d;
}

.header_menu .menu li a.login {
    background-color: #ddd;
    color: #000;
}

.header_menu .menu li a.login:hover {
    background-color: #bbb;
}

/* Контейнер */
.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.3); /* Чёрный фон */
    color: #f1c40f; /* Жёлтый текст */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
}

/* Заголовок страницы */
.page-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

/* Стили для формы */
.resume-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.resume-form label {
    color: #f1c40f;
}

.resume-form input,
.resume-form textarea,
.resume-form select {
    width: 100%;
    padding: 10px;
    background-color: #ffffff; /* Тёмный фон */
    color: #000000; /* Жёлтый текст */
    border: 1px solid #f1c40f;
    border-radius: 4px;
}

.resume-form input:focus,
.resume-form textarea:focus,
.resume-form select:focus {
    border-color: #f39c12;
    outline: none;
    box-shadow: 0 0 5px #f39c12;
}

.resume-form button {
    align-self: center;
    margin-top: 10px;
}

/* Кнопка */
.btn-yellow {
    background-color: #f1c40f;
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-yellow:hover {
    background-color: #d4ac0d;
}

/* Сообщения */
.alert {
    background-color: #f1c40f;
    color: #000;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: center;
}

/* Футер */
