/* Основные стили */
body {
    font-family: 'Arial', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Содержимое прокручивается сверху */
    min-height: 100vh;
    overflow-y: auto; /* Включена вертикальная прокрутка */
    position: relative; /* Для фиксированного видео */
}

/* Видео на фоне */
#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Видео заполняет весь экран */
    z-index: -1; /* Видео будет позади контента */
}

/* Контейнер */
.container {
    background: rgba(255, 255, 255, 0.49);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 20px;
    max-width: 800px;
    width: 100%;
    animation: fadeIn 1s ease-out;
    margin: 30px auto; /* Центрируем контейнер */
    position: relative; /* Контейнер над видео */
    z-index: 1;
}

/* Заголовок и кнопка добавления */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/* Заголовок */
h1 {
    font-size: 2rem;
    color: #ffca28;
    text-align: left;
    margin: 0;
}

/* Кнопка "Добавить еще" */
.custom-btn {
    background-color: #ffca28;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.custom-btn:hover {
    background-color: #e0a800; /* Темнее на ховере */
}

/* Работа: общий стиль */
.job {
    background: #f9f9f9;
    padding: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    margin-bottom: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Анимация при наведении */
.job:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}

/* Заголовок компании */
.job p {
    margin: 10px 0;
    line-height: 1.6;
}

.job p strong {
    color: #333;
}

/* Логотип компании */
.job img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Разделитель */
hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 20px 0;
}

/* Анимация для плавного появления */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
