/* Сброс стилей для всех элементов */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Основные стили для тела страницы */
body {
    display: flex;
    flex-direction: column; /* Расположение элементов по вертикали */
    height: 100vh; /* Высота 100% экрана */
    margin: 0;
    overflow-x: hidden;
}

/* Стили для хедера */
.header {
    background-color: white;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 15px;
    max-width: 100%;
}

.header_logo a {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.header_menu .menu {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.header_menu .menu li a {
    text-decoration: none;
    font-size: 16px;
    color: #333;
    transition: all 0.3s ease;
}

.header_menu .work {
    background-color: #fec107;
    color: #079ffe;
    padding: 8px 20px;
    border-radius: 20px;
    font-weight: bold;
}

.header_menu .login {
    background-color: #ddd;
    color: #333;
    padding: 8px 15px;
    border-radius: 5px;
}
main {
    flex: 1; /* Основное пространство занимает main */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("/static/main/img/земля.jpg");
    background-size: contain; /* Масштабируем фон */
    background-repeat: no-repeat;
    background-color: #0b051a;
    background-attachment: fixed; /* Фиксирует фон */
    background-position: 550px center; /* Сдвиг вправо на 1200px, вертикальное выравнивание по центру */
}


/* Секция поиска */
.search-section {
    margin-top: 21px;
    display: flex;
    gap: 10px;
}

.search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 500px;
    background-color: white;
}

.search-button {
    padding: 10px 20px;
    background-color: #fec107;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #fec107;
}

.portal-text {
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.portal-text span {
    color: #fec107;
}

/* Стили для футера */
.footer {
    background-color: #fec107;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: auto; /**/
}


