body {
    font-family: Arial, sans-serif;
    background: url("/static/main/img/звезды.jpg"); !important;
}
.container {
        background-color: rgba(255, 255, 255, 0.5);
        color: white;
        padding: 20px;
        border-radius: 10px;
        max-width: 500px;
        margin: auto;
        margin-top: 50px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    .btn-primary {
        background-color: #ffcd34;
        border-color: #ffcd34;
    }

    .btn-primary:hover {
        background-color: #ffcd34;
        border-color: #FFB84D;
    }

    a {
        color: #FFD700;
    }

    a:hover {
        text-decoration: underline;
    }


    .yellow-button {
    display: inline-block; /* Позволяет стилизовать элемент как кнопку */
    background-color: #FFD700; /* Желтый цвет */
    color: white; /* Белый текст */
    padding: 10px 20px; /* Отступы для удобства */
    text-decoration: none; /* Убирает подчеркивание */
    border: none; /* Без границы */
    border-radius: 5px; /* Закругленные края */
    font-size: 14px; /* Размер шрифта */
    text-align: center; /* Центрирование текста */
    cursor: pointer; /* Указатель при наведении */
}

.yellow-button:hover {
    background-color: #FFC300; /* Более темный желтый цвет при наведении */
}
