body {
    font-family: Arial, sans-serif;
    background: url("/static/main/img/звезды.jpg");
}

.container {
        background-color: rgba(255, 255, 255, 0.5);
        color: white;
        padding: 20px;
        border-radius: 10px;
        max-width: 500px;
        margin: auto;
        margin-top: 50px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    .form-control {
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .btn-primary {
        background-color: #ffcd34;
        border-color: #ffcd34;
    }

    .btn-primary:hover {
        background-color: #FFB84D;
        border-color: #ffcd34;
    }


    a {
        color: #FFD700;
    }

    a:hover {
        text-decoration: underline;
    }

    .mt-3{
        color: rgba(255, 255, 255, 0.5);
    }