body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white; /
}

.reset-container {
    background-color: #000;
    color: #fff;
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.reset-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.reset-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.reset-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ffcd34;
    border-radius: 5px;
    background-color: white;
    color: #000000; /* белый текст внутри инпутов */
}


.reset-container button {
    width: 100%;
    padding: 10px;
    background-color: #ffcd34;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

.reset-container button:hover {
    background-color: #ecb205; /* чуть темнее при наведении */
}