body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white; /
}

.reset-container {
    position: relative;
    top: 45px;
    width: 450px;
    margin: 0 auto;
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

.reset-container h2,
.reset-container p {
    margin: 15px 0;
}

.reset-container .container {
    text-align: left;
    margin-top: 25px;
}

.reset-container .container button {
    background-color: #ffcd34;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.reset-container .container button a {
    text-decoration: none;
    color: white;
}

.reset-container .container button:hover {
    background-color: #fec107;
}
