.container {
            background-color: #000000;
            color: white;
            padding: 20px;
            border-radius: 10px;
            max-width: 500px;
            margin: auto;
            margin-top: 50px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        }

        .btn-primary {
            background-color: #ffcd34; /* Оранжевый цвет кнопки */
            border-color: #ffcd34;
        }

        .btn-primary:hover {
            background-color: #FFB84D; /* Светлее при наведении */
            border-color: #FFB84D;
        }

        a {
            color: #FFD700; /* Золотистый цвет ссылок */
        }

        a:hover {
            text-decoration: underline;
        }