* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url("/static/main/img/звезды.jpg");
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    color: #212529;
}

h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #000000;
}

p {
    margin-bottom: 1rem;
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    text-decoration: underline;
}

.btn-primary {
    background-color: #ffcd34;
    border-color: #000000;
    color: #ffffff;
    display: inline-block;
    padding: 0.5rem 1rem;
    text-align: center;
    border-radius: 6px;
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}


.container {
    background: rgba(255, 255, 255, 0.79);
    backdrop-filter: blur(10px);
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgb(0, 0, 0);
    max-width: 600px;
    width: 100%;
    transition: box-shadow 0.3s ease;
}

.container:hover {
    box-shadow: 0 8px 20px rgb(30, 2, 121);
}