body {
    background: url("/static/main/img/звезды.jpg");
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    border: none;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.card-header {
    border-radius: 12px 12px 0 0;
    padding: 15px 20px;
}

.chat-body {
    background-color: #fefefe;
    padding: 15px;
    border-radius: 0 0 12px 12px;
}

.chat-body .text-end .d-inline-block {
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.chat-body .text-end .d-inline-block:hover {
    transform: scale(1.05);
    background-color: #ffe57f;
}

.chat-body .text-start .d-inline-block {
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.chat-body .text-start .d-inline-block:hover {
    transform: scale(1.05);
    background-color: #fffde7;
}

.card-footer {
    padding: 15px 20px;
}
/*j8*/

.btn-primary {
    background-color: #ffcd34; /* Желтый цвет для основной кнопки */
    border-color: #ffcd34;
}

.btn-secondary {
    background-color: #fec107; /* Светло-желтый для второстепенных кнопок */
    border-color: #fec107;
}