<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group mb-3">
        {{ form_job.title.label_tag }}
        {{ form_job.title }}
    </div>
    <div class="form-group mb-3">
        {{ form_job.task.label_tag }}
        {{ form_job.task }}
    </div>
    <div class="form-group mb-3">
        {{ form_job.city.label_tag }}
        {{ form_job.city }}
    </div>
    <div class="form-group mb-3">
        {{ form_job.price.label_tag }}
        {{ form_job.price }}
    </div>
    <div class="form-group mb-3">
        {{ form_job.company_name.label_tag }}
        {{ form_job.company_name }}
    </div>
    <div class="form-group mb-3">
        {{ form_job.company_description.label_tag }}
        {{ form_job.company_description }}
    </div>
    <div class="form-group mb-3">
        {{ form_job.company_logo.label_tag }}
        {{ form_job.company_logo }}
    </div>
    <div class="form-group mb-3">
        {{ form_job.contact_email.label_tag }}
        {{ form_job.contact_email }}
    </div>
    <div class="form-group mb-3">
        {{ form_job.contact_phone.label_tag }}
        {{ form_job.contact_phone }}
    </div>
    <button type="submit" class="btn btn-success">Сохранить</button>
</form>


</body>
</html>