<!doctype html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Создание резюме</title>
    <link rel="stylesheet" href="{% static 'main/css/create_resume.css' %}">
</head>
<body>

<header class="header">
    <div class="containermenu">
        <div class="header_logo">
            <a href="#">FindIT</a>
        </div>
        <div class="header_menu">
            <ul class="menu">
                <li><a href="#">Найти работу</a></li>
                <li><a href="login" class="work">Работодателям</a></li>
                <li><a href="login" class="login">Войти</a></li>
            </ul>
        </div>
    </div>
</header>

<div class="container">
    <form method="post" enctype="multipart/form-data" class="resume-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn-yellow">Сохранить</button>
    </form>
</div>

<footer class="footer">
    <p>© 2024 FindIT. Все права защищены.</p>
</footer>

</body><!---->
</html>
