<!doctype html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактирование резюме</title>
    <link rel="stylesheet" href="{% static 'main/css/edit_resume.css' %}">
</head>
<body>
<header class="header">
    <div class="containermenu">
        <div class="header_logo">
         <a href="#">FindIT</a>
        </div>
        <div class="header_menu">

        </div>
    </div>
</header>

<div class="container">
    <h1 class="page-title">Редактирование резюме</h1>

    {% if messages %}
        <div>
            {% for message in messages %}
                <div class="alert">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <form method="post" enctype="multipart/form-data" class="resume-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn-yellow">Сохранить</button>
    </form>
</div>

<footer class="footer">
    <p>FindIT &copy; 2024</p>
</footer>
</body>
</html>
