<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Ваши вакансии</h1>
{% for job in jobs %}
<div class="alert alert-info">
    <h3>{{ job.title }}</h3>
    <p>Город: {{ job.city }}</p>
    <p>Цена: {{ job.price }}</p>
    <h4>Отклики:</h4>
    {% for application in job.applications.all %}
        <p>{{ application.worker.username }} - {{ application.worker.email }}</p>
    {% empty %}
        <p>Пока нет откликов</p>
    {% endfor %}
</div>
{% endfor %}

<a href="{% url 'create_job' %}" class="btn btn-primary">Добавить еще</a>

</body>
</html>
