<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<!-- templates/main/password_reset_complete.html -->
<h2>Пароль успешно сброшен</h2>
<p>Ваш пароль был успешно обновлен. Теперь вы можете войти с новым паролем.</p>
<a href="{% url 'login' %}">Перейти к входу</a>

</body>
</html>