<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{% static 'main/css/password_reset_complete.css' %}">
    <title>Document</title>
</head>
<body>

<div class="reset-container">
        <h2>Пароль успешно сброшен</h2>
        <p>Ваш пароль был успешно обновлен. Теперь вы можете войти с новым паролем.</p>
        <div class="container">
            <button><a href="{% url 'login' %}">Перейти к входу</a></button>
    </div>
    </div>


</body>
</html>